[env]
SECRET_KEY=""
RSA_PRIVATE_KEY="""
-----BEGIN PRIVATE KEY-----
aaaaaaaaaaaaaaaaaaaaaaaaa
-----END PRIVATE KEY-----
"""
DB="/app/momostr/"
BOT_NSEC="nsec..."
AP_RELAYS=""
METADATA_RELAYS="wss://relay.nostr.band,wss://relay.primal.net,ws://localhost:8007,wss://purplepag.es,wss://directory.yabu.me"
OUTBOX_RELAYS="wss://relay.momostr.pink"
INBOX_RELAYS="wss://relay.momostr.pink,wss://relay.primal.net,wss://relay.nostr.band"
MAIN_RELAYS="ws://localhost:8007,wss://relay.primal.net,wss://relay.nostr.band"
DOMAIN="momostr.pink"
HTTPS_DOMAIN="https://momostr.pink"
NOTE_ID_PREFIX="https://momostr.pink/notes/"
USER_ID_PREFIX="https://momostr.pink/users/"
BIND_ADDRESS="127.0.0.1:8001"
