[env]
SECRET_KEY=""
RSA_PRIVATE_KEY="""
-----BEGIN PRIVATE KEY-----
aaaaaaaaaaaaaaaaaaaaaaaaa
-----END PRIVATE KEY-----
"""
DB="~/momostr/"
BOT_NSEC="nsec..."
AP_RELAYS=""
METADATA_RELAYS="wss://relay.momostr.pink,ws://localhost:8007"
OUTBOX_RELAYS="wss://relay.momostr.example,wss://relay.momostr.pink"
INBOX_RELAYS="wss://relay.momostr.example,wss://relay.momostr.pink"
OUTBOX_RELAYS_FOR_10002="wss://relay.momostr.example,wss://relay.momostr.pink"
INBOX_RELAYS_FOR_10002="wss://relay.momostr.example,wss://relay.momostr.pink"
DOMAIN="momostr.example"
HTTPS_DOMAIN="https://momostr.example"
NOTE_ID_PREFIX="https://momostr.example/notes/"
USER_ID_PREFIX="https://momostr.example/users/"
BIND_ADDRESS="127.0.0.1:8001"
