[env]
SECRET_KEY=""
RSA_PRIVATE_KEY="""
-----BEGIN PRIVATE KEY-----
aaaaaaaaaaaaaaaaaaaaaaaaa
-----END PRIVATE KEY-----
"""
ROCKS_DB_INBOX_TO_ID="inbox_to_id.rocksdb"
ROCKS_DB_ID_TO_INBOX="id_to_inbox.rocksdb"
ROCKS_DB_EVENT_ID_TO_INBOXES="event_id_to_inboxes.rocksdb"
ROCKS_DB_NOSTR_TO_FOLLOWEE="follow_list.rocksdb"
ROCKS_DB_STOPPED_NPUB="stopped_npub.rocksdb"
ROCKS_DB_STOPPED_AP="stopped_ap.rocksdb"
ROCKS_DB_AP_ID_TO_EVENT_ID="ap_id_to_event_id.rocksdb"
BOT_NSEC="nsec..."
AP_RELAYS=""
METADATA_RELAYS="wss://relay.nostr.band,wss://relay.primal.net,ws://localhost:8007,wss://purplepag.es,wss://directory.yabu.me"
OUTBOX_RELAYS="wss://relay.momostr.pink"
INBOX_RELAYS="wss://relay.momostr.pink,wss://relay.primal.net,wss://relay.nostr.band"
MAIN_RELAYS="ws://localhost:8007,wss://relay.primal.net,wss://relay.nostr.band"
DOMAIN="momostr.pink"
HTTPS_DOMAIN="https://momostr.pink"
NOTE_ID_PREFIX="https://momostr.pink/notes/"
USER_ID_PREFIX="https://momostr.pink/users/"
BIND_ADDRESS="127.0.0.1:8001"
